body {
    margin: 0;
    box-sizing: border-box;
}

#container {
    line-height: 150%;
}

.player {
    min-height: 540px;
    display: flex; /* or inline-flex */
}

#iframe {
    margin: auto;
    margin-top: 15px;
}

.uwu {
    width: 100%;
    min-height: 600px;
    background-color: #343A40;
    display: flex;
}

.info-box {
    background-color: #212529;
    width: 68%;
    min-height: 480px;
    border-radius: 3px;
    margin: 0 2% auto;
    display: flex;
}

.info-box-text {
    font-size: 1.2vw;
    float: left;
    color: white;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 2%;
}

.artplayer-app {
    width: 900;
    height: 500;
}