.divider {
    color: white;
    text-align: center;
}

.card-text {
    transition: 2s;
}
.card-text:hover {
   color:rgb(244, 241, 241) !important;
   transform: none;
}

.card {
    transition: 1s;
    margin-bottom: 20px;
}

.card:hover {
    transform: scale(1.02);
}

.info-box {
    margin-top: -120px;
    margin-left: 2.5%;
    width: 68.2vw;
    height: 60vh;
    float: left;
    background-color: #212529;
    border-radius: 3px;
}

body {
    min-width: 5000fr;
}